body {
    margin-top: 100px;
    background: rgb(201, 201, 201);
}

.mine-sweeper {
    padding: 5px;
    width: 300px;
    height: 480px;
    margin: auto;
    background-color: grey;
    border: rgb(72, 72, 72) 1px solid;
    border-radius: 8px;
    box-shadow: 4px 6px 14px 0;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-left: 16%;
    font-size: 35px;
    color: rgb(184, 184, 184);
    margin-bottom: 5px;
}

.dificulty {
    margin-left: 10%;
}

.dificulty button {
    margin-left: 3px;
    background: rgb(155, 155, 155);
    border-radius: 9px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border: 0px;
}

.dificulty button:hover {
    background: rgb(69, 69, 69);
    color: white;


}

.game {
    margin-top: 5px;
    display: grid;
    justify-content: center;
}

.game button {
    background: rgb(177, 177, 177);
    border: 1px grey solid;
    border-radius: 3px;
    height: 20px;
    width: 20px;
    text-align: start;
    
}

.game button:hover {
    background: rgb(199, 198, 198);
}

.game button:disabled {
    background: rgb(255, 254, 254);
    border: 0px;
    border-radius: 0px;

}

.hints {
    box-sizing: border-box;
    margin-left: 35%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: fit-content;


}

.hints button {
    margin-top: 5px;
    border: 0px;
    background-color: grey;
    font-size: 18px;

}

.endgame {
    display: block;
    width: 100%;
    text-align: center;
    color: rgb(61, 61, 61);
    font-weight: bold;
}
.is-mine {
    font-size: 20px;
    padding: 3px;
}

.is-0 {
    color: grey;
    text-align: center;
}
.is-1 {
    color: blue;
    text-align: center;
}

.is-2 {
    color: red;
    text-align: center;
}

.is-3 {
    color: green;
    text-align: center;
}

.is-4 {
    color: blueviolet;
    text-align: center;
}

.is-5 {
    color: darkblue;
    text-align: center;
}


.fail {
    background: red;
}

.marked {
    font-size: 10px;
    color: unset;
}

.smily {
    display: block;
    margin-left: 45%;
    font-size: 30px;
    margin-bottom: 5px;
    width:45px;

}
.smily:hover {
cursor: pointer;
}
.time{
    font-family: 'LED Digital 7', sans-serif;
    font-weight: bold;
}
.timer{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: bold;
}
.life{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: bold;
}
.hide{
    display: none;
}